
.reset-contain{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0px;
    padding: 50px 100px;
   
}
.reset-left{
    background-color: #00A69C;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reset-left >img{
    width: 96%;
    height: 100%;
    margin-left: 160px;
    
}
.reset-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    align-items: center;
    justify-content: center;
    position: relative;
}
.reset-back-icon{
    position: absolute;
    top: 30px;
    left: 80px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.reset-text{
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.reicon{
    font-size: 25px;
    color: black;
    font-weight: 600;
   
}
.reset-text-div{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.reset-text-div >h3{
    font-size: 30px;
    font-weight: 600;
    color: black;
}
.reset-text-div >span{
    font-size: 18px;
    color: gray;
   
}
.reset-first-inp{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.reset-first-inp >label{
   font-size: 20px;
   color: black;
   font-weight: 600;
}
.reset-first-inp input{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    background-color:  #EFF6FF;
    padding-left: 20px;
    border: 2px solid grey;
}
.reset-first-inp >::placeholder{
    color: grey;
    border-color: grey;
    font-size: 18px;
}
/* .reset-first-inp > lable{
    
} */
/* .reset-second-inp{
    position: relative;
}
.reset-second-inp input{
    width: 330px;
    height: 40px;
    padding-left: 20px;
    border: 1px solid grey;
}
.reset-second-inp >::placeholder{
    color: grey;
    border-color: grey;
    font-size: 18px;
}
.eye-icon{
    position: absolute;
    right: 10px;
    top: 5px;
    color: grey;
    font-size: 20px;
}
.remember{
    display: flex;
    justify-content: space-between;
    width: 330px;
}
.box{
    display: flex;
    gap: 10px;
}
.box >input{
    width: 20px;
    height: 20px;
}
.forgot{
    color: #00A69C;
    cursor: pointer;
} */
.reset-login{
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    background-color: #00A69C;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .reset-contain{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #EFF6FF;
       
       
    }
    .reset-left{
       display: none;
    }
   
    
    .reset-right{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 50px;
        margin-bottom: 150px;
        background-color: #EFF6FF;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 30px 0px;
    }
    .reset-text-div{
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .reset-text-div >h3{
        font-size: 25px;
        font-weight: 600;
        color: black;
    }
    .reset-text-div >span{
        font-size: 15px;
       
    }
    .reset-back-icon{
        position: absolute;
        top: -80px;
        left: -75px;
        display: flex;
        cursor: pointer;
        gap: 10px;
       
    }
    .reset-text{
        font-size: 16px;
        font-weight: 600;
        color: black;
    }
    .reicon{
        font-size: 20px;
        color: black;
        font-weight: 600;

       
    }
    .reset-first-inp{
        display: flex;
        justify-content: flex-start;
        align-items: center;
      
    }
    .reset-first-inp >label{
       font-size: 20px;
       color: black;
       font-weight: 600;
       display: flex;
       justify-content: flex-start;
       align-items: flex-start;
       width: 350px;
    }
    .reset-first-inp input{
        width: 350px;
        height: 50px;
        border-radius: 5px;
        background-color:  #EFF6FF;
        padding-left: 20px;
        border: 2px solid grey;
    }
    .reset-first-inp >::placeholder{
        color: grey;
        border-color: grey;
        font-size: 18px;
    }
    .reset-login{
        width: 350px;
        height: 45px;
        font-size: 20px;
        font-weight: 600;
        background-color: #00A69C;
        border-radius: 5px;
        color: white;
        border: none;
        cursor: pointer;
    }
}