
      .bodi{
       flex: 2;
       display: flex;
       flex-direction: column;
       gap: 10px;
       margin-left: 60px;
      
      }
      .dif{
        display: flex;
        justify-content: space-between;
      }
      .harm{
        margin-right: 80px;
        cursor: pointer;
      }
      .harm >img{
        width:30px;
        height: 30px;
      }
      .distro >h3{
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 15px;
      }
      .distro >p{
        font-size: 15px;
        font-weight: 400;
        color: gray;
      }
      .recent >h3{
        font-size: 25px;
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: 15px;
      }
      .recent >span{
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 25px;
        color: gray;
      }
      .first-rows{
       display: flex;
       flex-direction: column;
       gap: 10px;
       padding: 15px;
       background-color: white;
      }
      .first-row{
       display: flex;
       justify-content: space-between;
       cursor: pointer;
      }
      .revenue-cont{
       display: flex;
       gap: 75px;
       margin-top: 15px;
       cursor: pointer;
      }
      .rev{
       display: flex;
       gap: 10px;
       align-items: center;
      }
      .rev >img{
       width: 45px;
       height: 45px;
       padding: 5px;
       border-radius: 5px;
       background-color: #A155B9;
      }
      .rev-order{
       display: flex;
       gap: 10px;
       align-items: center;
      }
      .rev-order >img{
       width: 45px;
       height: 45px;
       padding: 5px;
       border-radius: 5px;
       background-color: #16B1FF;
      }
      .rev-driver{
       display: flex;
       gap: 10px;
       align-items: center;
      }
      .rev-driver >img{
       width: 45px;
       height: 45px;
       padding: 5px;
       border-radius: 5px;
       background-color: #FFB400;
      }
      .rev-customer{
       display: flex;
       gap: 10px;
       align-items: center;
      }
      .rev-customer >img{
       width: 45px;
       height: 45px;
       padding: 5px;
       border-radius: 5px;
       background-color: #56CA00;
      }
      .revenue-rating{
       font-size: 18px;
       color: gray;
       display: flex;
       flex-direction: column;
       gap: 5px;
      }
      .revenue-text{
       font-size: 20px;
       font-weight: 600;
       color: black;
      }
   
      .cards{
       display: flex;
       gap: 20px;
      
      }
      .card{
       display: flex;
       justify-content: space-between;
       background-color: white;
       padding: 15px;
       border-radius: 10px;
       width: 220px;
       cursor: pointer;
       position: relative;
      }
      .dots{
        position: absolute;
        top: 15px;
        right: 15px;
      }
      .dropdown-box {
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #EFF6FF;
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 5px;
        border-color:2px solid black;
        z-index: 1; /* Adjust the z-index as needed to ensure the dropdown is above other elements */
      }
      .rev-profit{
       display: flex;
       flex-direction: column;
       gap: 10px;
       position: relative;
      }
      .reting{
       position: absolute;
       left: 80px;
       top: 80px;
       color: #059887;
       font-size: 14px;
      }
      .rev-profit-text{
       font-size: 20px;
       font-weight: 600;
       color: black;
      }
      .rev-profit >img{
       width: 50px;
       height: 50px;
       font-size: 18px;
       padding: 5px;
       /* border-radius: 23px;
       background-color: #A155B9; */
       /* background-color: #56CA00; */
      }
      .refund-profit{
       display: flex;
       flex-direction: column;
       gap: 10px;
       position: relative;
      }
      .refund-reting{
       position: absolute;
       left: 80px;
       top: 80px;
       color: #FF3838;
       font-size: 14px;
      }
      .refund-profit-text{
       font-size: 20px;
       font-weight: 600;
       color: black;
      }
      .refund-profit >img{
       width: 50px;
       height: 50px;
       font-size: 20px;
       padding: 5px;
       /* border-radius: 25px; */
      }
      .order-profit{
       display: flex;
       flex-direction: column;
       gap: 10px;
       position: relative;
      }
      .reting{
       position: absolute;
       left: 80px;
       top: 80px;
       color: #059887;
       font-size: 14px;
      }
      .order-profit-text{
       font-size: 20px;
       font-weight: 600;
       color: black;
      }
      .order-profit >img{
       width: 40px;
       height: 40px;
       font-size: 20px;
       padding: 5px;
       border-radius: 25px;
       background-color: #FFB400;
      }
   
      /* recent */
      .one-wrap {
       position: relative;
       width: 700px;
       display: flex;
       flex-direction: column;
       gap: 10px;
       background-color: white;
       border: 1px solid #059887; /* Corrected the border property */
       border-radius: 10px;
       padding: 20px;
     }
     
      .date{
       display: flex;
       justify-content: space-between;
      }
      .code{
       font-size: 18px;
       font-weight: 600;
       color: black;
      }
      .date{
       font-size: 18px;
       font-weight: 400;
       color: gray;
      }
      .prize{
       font-size: 18px;
       font-weight: 600;
       color: black;
      }
      
      .dating{
       display: flex;
       gap: 20px;
      }
      .sm{
        display: flex;
        gap: 25px;
      }
      .datings{
        display: flex;
        gap: 20px;
       
       }
      .bankuli{
       font-size: 18px;
       font-weight: 600;
       color: black;
      }
      .assigned{
       font-size: 18px;
       font-weight: 400;
       color: gray;
      }
      .paid{
       background-color: #F1FEFD;
       color: #00A69C;
       font-size: 18px;
       padding: 10px;
       width: 50px;
       height: 5px;
       display: flex;
       align-items: center;
       border-radius: 10px;
      }
      .dating >img{
      width: 35px;
      height: 35px;
   }
   .name{
       display: flex;
       justify-content: space-between;
      }
      .row-btn{
       background-color: #00A69C;
       color: white;
       width: 180px;
       height: 35px;
       border-radius: 15px;
       padding: 10px;
       position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
       border: none;
       right: 15px;
       top: 95px;
       font-size: 18px;
      }
      .one-order{
       display: flex;
       flex-direction: column;
       gap: 40px;
      }
   
   
   /*two-wrap */
   .two-wrap {
       position: relative;
       width: 700px;
       display: flex;
       flex-direction: column;
       gap: 10px;
       background-color: white;
       border: 1px solid #F9BF42; /* Corrected the border property */
       border-radius: 10px;
       padding: 20px;
     }
     .two-dated{
       color: #059887;
     }
     .two-btn{
       background-color: #F9BF42;
       color: white;
       width: 180px;
       height: 35px;
       border-radius: 15px;
       padding: 10px;
       position: absolute;
       display: flex;
      align-items: center;
      justify-content: center;
       border: none;
       right: 15px;
       top: 95px;
       font-size: 18px;
      }
   
      /* three-wrap */
   
   .three-wrap {
       position: relative;
       width: 700px;
       display: flex;
       flex-direction: column;
       gap: 10px;
       background-color: white;
       border: 1px solid #FF3838; /* Corrected the border property */
       border-radius: 10px;
       padding: 20px;
     }
     .three-btn{
       background-color: #FF3838;
       color: white;
       width: 180px;
       height: 35px;
       border-radius: 15px;
       padding: 10px;
       position: absolute;
       display: flex;
      align-items: center;
      justify-content: center;
       border: none;
       right: 15px;
       top: 95px;
       font-size: 18px;
      }
   
        /* four-warap */
   
   .four-wrap {
       position: relative;
       width: 700px;
       display: flex;
       flex-direction: column;
       gap: 10px;
       background-color: white;
       border: 1px solid #2593F0; /* Corrected the border property */
       border-radius: 10px;
       padding: 20px;
     }
     .four-btn{
       background-color: #2593F0;
       color: white;
       width: 180px;
       height: 35px;
       border-radius: 15px;
       padding: 10px;
       position: absolute;
       display: flex;
      align-items: center;
      justify-content: center;
       border: none;
       right: 15px;
       top: 95px;
       font-size: 18px;
      }
   
      /* Five wrap */
      .five-wrap {
       position: relative;
       width: 700px;
       display: flex;
       flex-direction: column;
       gap: 10px;
       background-color: white;
       border: 1px solid #46B04C; /* Corrected the border property */
       border-radius: 10px;
       padding: 20px;
     }
     .five-dated{
       color: #46B04C;
     }
     .five-btn{
       background-color: #46B04C;
       color: white;
       width: 180px;
       height: 35px;
       border-radius: 15px;
       padding: 10px;
       position: absolute;
       display: flex;
      align-items: center;
      justify-content: center;
       border: none;
       right: 15px;
       top: 95px;
       font-size: 18px;
      }
      @media screen and (max-width: 678px) {
        .bodi {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 90%;
          margin-left: 0px;
        }
      
        .distro, .recent, .cards {
          width: 100%; /* Set child elements or container width to 100% */
        }
        .recent >h3{
          font-size: 25px;
          font-weight: 600;
          margin-top: 30px;
          margin-bottom: 15px;
        }
    
      .harm >img{
       display: none;
      }
        .distro >h3{
          width: 200px;
          font-size: 20px;
          font-weight: 600;
          margin-top: 30px;
          margin-bottom: 15px;
        }
        .distro >p{
          width: 200px;
          font-size: 14px;
          
        }
         .cards {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          width: 300px;
        }
      
         .card{
          display: flex;
          justify-content: space-between;
          /* background-color: white; */
          padding: 5px;
          border-radius: 10px;
          width: 168px;
          cursor: pointer;
          position: relative;
          border: 1px solid gray;
         }
         
         .one-wrap {
          position: relative;
          width: 360px;
          display: flex;
          flex-direction: column;
          gap: 4px;
          background-color: white;
          border: 1px solid #059887; /* Corrected the border property */
          border-radius: 10px;
          padding: 10px;
        }
        
         .date{
          display: flex;
          justify-content: space-between;
         }
         .sm{
          display: flex;
          flex-direction: column;
          gap: 5px;
          font-size: 15px;
         }
         
         .datings{
          display: flex;
         flex-direction: column;
          gap: 5px;
          margin-left: 55px;
          font-size: 15px;
         }
         .bankuli{
          font-size: 18px;
          font-weight: 600;
          font-size: 15px;
          color: black;
         }
         .paid{
          background-color: #F1FEFD;
          color: #00A69C;
          font-size: 18px;
          padding: 10px;
          width: 50px;
          height: 5px;
          display: flex;
          align-items: center;
          border-radius: 10px;
         }
         .dating >img{
         width: 35px;
         height: 35px;
      }
      .name{
          display: flex;
          justify-content: space-between;
         }
         .row-btn{
          background-color: #00A69C;
          color: white;
          width: 120px;
          height: 30px;
          border-radius: 15px;
          padding: 10px;
          position: absolute;
         display: flex;
         align-items: center;
         justify-content: center;
          border: none;
          right: 15px;
          top: 125px;
          font-size: 18px;
         }
         /*two-wrap */
   .two-wrap {
    position: relative;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border: 1px solid #F9BF42; /* Corrected the border property */
    border-radius: 10px;
    padding: 10px;
  }
    
         .two-btn{
          background-color: #F9BF42;
          color: white;
          width: 120px;
          height: 30px;
          border-radius: 15px;
          padding: 10px;
          position: absolute;
          display: flex;
         align-items: center;
         justify-content: center;
          border: none;
          right: 15px;
          top: 133px;
          font-size: 18px;
         }
      
         /* three-wrap */
      
      .three-wrap {
          position: relative;
          width: 360px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          background-color: white;
          border: 1px solid #FF3838; /* Corrected the border property */
          border-radius: 10px;
          padding: 10px;
        }
        .three-btn{
          background-color: #FF3838;
          color: white;
          width: 120px;
          height: 30px;
          border-radius: 15px;
          padding: 10px;
          position: absolute;
          display: flex;
         align-items: center;
         justify-content: center;
          border: none;
          right: 15px;
          top: 133px;
          font-size: 18px;
         }
      
           /* four-warap */
      
      .four-wrap {
          position: relative;
          width: 360px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          background-color: white;
          border: 1px solid #2593F0; /* Corrected the border property */
          border-radius: 10px;
          padding: 10px;
        }
        .four-btn{
          background-color: #2593F0;
          color: white;
          width: 120px;
          height: 30px;
          border-radius: 15px;
          padding: 10px;
          position: absolute;
          display: flex;
         align-items: center;
         justify-content: center;
          border: none;
          right: 15px;
          top: 133px;
          font-size: 18px;
         }
      
         /* Five wrap */
         .five-wrap {
          position: relative;
          width: 360px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          background-color: white;
          border: 1px solid #46B04C; /* Corrected the border property */
          border-radius: 10px;
          padding: 10px;
        }
        .five-dated{
          color: #46B04C;
        }
        .five-btn{
          background-color: #46B04C;
          color: white;
          width: 120px;
          height: 30px;
          border-radius: 15px;
          padding: 10px;
          position: absolute;
          display: flex;
         align-items: center;
         justify-content: center;
          border: none;
          right: 15px;
          top: 133px;
          font-size: 18px;
         }
   
        
    }