.contain{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0px;
}
.left{
    background-color: #00A69C;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left >img{
    width: 96%;
    height: auto;
    margin-left: 150px;
}
.right{
  width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.right >h3{
    font-size: 30px;
    font-weight: 600;
}
.right >span{
    font-size: 18px;
    color: gray;
}
.first-inp input{
    width: 330px;
    height: 40px;
    padding-left: 20px;
    border: 1px solid grey;
}
.first-inp >::placeholder{
    color: grey;
    border-color: grey;
    font-size: 18px;
}
.second-inp{
    position: relative;
}
.second-inp input{
    width: 330px;
    height: 40px;
    padding-left: 20px;
    border: 1px solid grey;
}
.second-inp >::placeholder{
    color: grey;
    border-color: grey;
    font-size: 18px;
}
.eye-icon{
    position: absolute;
    right: 10px;
    top: 5px;
    color: grey;
    font-size: 20px;
    cursor: pointer;
}
.remember{
    display: flex;
    justify-content: space-between;
    width: 330px;
}
.box{
    display: flex;
    gap: 10px;
}
.box >input{
    width: 20px;
    height: 20px;
   
}
.box >span{
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.forgot{
    color: #00A69C;
    cursor: pointer;
    font-weight: 600;
}
.login{
    width: 330px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    background-color: #00A69C;
    color: white;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .contain {
        background-image: url('../../assets/img/bgapp.png'); /* Corrected image path */
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 30px 0 0px;
    }
    /* .left{
        background-color: #00A69C;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    } */
    .left >img{
        display: none;
    }
    .right{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        background-color: white;
        align-items: center;
        justify-content: center;
        padding: 50px 0px;
        background-color: white;
    }
}