
@media screen and (max-width: 767px) {
    Th, Td {
      font-size: 16px;

    }
  
    Tr {
      display: block;
      margin-bottom: 5px; 
    }
  
    Th, Td {
        padding: 4px; 
      }
     Td {
        padding: 0px; 
      }
    Thead {
     
      font-size: 14px;
    }
    .table-container-mobile {
        width: 90%;
        margin: 0 auto; 
      }
      .email-head{
        display: none;
      }
      .email-column {
        display: none;
      }
  }
  
  